.authLinkContainer {
    position: fixed;
    display: flex;
    align-self: flex-end;
    margin-top: var(--default-spacing);
    margin-right: var(--default-spacing);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: #990000;
    a {
        line-height: 25px;
        color: #fff;
        white-space: nowrap;
    }
}

.authLink {
    position: relative;
    height: 100%;
    width: 100%;
    padding: var(--default-spacing);
}
