.authLinkContainer {
    position: absolute;
    display: flex;
    align-self: flex-end;
    margin-top: var(--default-spacing);
    margin-right: var(--default-spacing);
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadox);
    background-color: #990000;
    a {
        color: #fff;
    }
}

.authLink {
    position: relative;
    height: 100%;
    width: 100%;
    padding-right: var(--default-spacing);
    padding-left: var(--default-spacing);
    padding-top: var(--default-spacing);
    padding-bottom: var(--default-spacing);
}
