.button {
    display: flex;
    width: 100%;
    padding: var(--default-spacing);
    background-color: #fff;
    border-radius: var(--border-radius);
    border: solid 1px grey;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    p {
        margin: 0px;
    }
}

.button:hover {
    background-color: rgba(60, 64, 67, 0.04);
}
