.privacyPolicyLink {
    position: absolute;
    display: flex;
    align-self: flex-end;
    bottom: 25px;
    white-space: nowrap;
    font-size: 1.2rem;
    margin-right: var(--default-spacing);
}
