.recentMarkersContainer {
    width: 110px;

    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    margin-left: var(--default-spacing);
    margin-top: var(--default-spacing);
    padding: var(--default-spacing);
    position: absolute;
    z-index: 4;
    cursor: pointer;
    h6 {
        color: var(--black);
    }
}

@media (min-width: 0px) {
    .recentMarkersContainer {
        left: 0px;

        h6 {
            line-height: 20px;
        }
    }
}

@media (min-width: 576px) {
    .recentMarkersContainer {
        left: 290px;

        h6 {
            line-height: 25px;
        }
    }
}

@media (min-width: 992px) {
    .recentMarkersContainer {
        left: 320px;
    }
}
