.titleContainer {
    display: flex;
    width: 100%;
    background-color: white;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--default-spacing);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.titleContainer h4 {
    text-align: center;
    color: var(--black);
    width: 100%;
}

.collectionContainer {
    width: 100%;
}

.collectionGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--default-spacing);
}

.badgeContainer {
    width: 100%;
    min-height: 350px;
    display: flex;
    background-color: white;
    gap: var(--default-spacing);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--default-spacing);
    border-radius: var(--border-radius);
}

.badgeContainer img {
    width: 60%;
}

.badgeContainer h5 {
    color: var(--default-red);
}

.badgeDescription {
    display: flex;
    gap: var(--default-spacing);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badgeDescription p {
    height: 80px;
}

@media (min-width: 0px) {
    .collectionGrid {
        grid-template-columns: 1fr 1fr;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .collectionGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* // Medium devices (tablets, 991px and up) */
@media (min-width: 991px) {
    .collectionGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
