@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    --default-spacing: 16px;
    --light-grey: #f0eff4;
    --grey: #f3f3f3;
    --black: #202124;
    --default-red: rgba(242, 102, 89, 1);
    --aggressive-red: #ff0000;
    --default-light-red: #fac9c5;
    --light-red: rgba(242, 102, 89, 0.2);
    --default-yellow: #ebc999;
    --default-blue: #8ca9d3;
    --default-dark-red: #990000;
    --round-icon-size: 45px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@500;700&display=swap'); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    position: absolute;
    width: 100%;
    display: flex;
    font-size: 62.5%;
    background-color: var(--grey);
}

main {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a,
textarea {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 300;
    color: var(--default-red);
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 4rem;
    letter-spacing: 0;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    letter-spacing: 0;
    font-weight: 700;
}

h3 {
    font-size: 7rem;
    letter-spacing: 0;
    font-weight: 300;
}

h4 {
    font-size: 4rem;
    letter-spacing: 0;
    font-weight: 300;
}

h5 {
    font-size: 2.4rem;
    letter-spacing: 0;
    font-weight: 500;
}

h6 {
    font-size: 1.9rem;
    letter-spacing: 0;
    font-weight: 500;
}

p,
textarea,
li {
    font-size: 1.6rem;
    line-height: 25px;
    letter-spacing: 0;
    font-weight: 400;
}

.marker {
    background-image: url('/image.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.small-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 3px;
}

.mapboxgl-popup-close-button {
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.mapboxgl-ctrl-top-right {
    right: unset !important;
}

.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: var(--box-shadow) !important;
}

.mapboxgl-ctrl-group {
    position: fixed;
    border-radius: var(--border-radius) !important;
    margin: 0px 0px 0px 0px !important;
}

.mapboxgl-ctrl-geolocate {
    height: 45px !important;
    width: 45px !important;
}

.mapboxgl-ctrl-icon {
    background-size: 30px !important;
    background-repeat: no-repeat !important;
}

@media (min-width: 0px) {
    :root {
        --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
            0 -1px 0px rgba(0, 0, 0, 0.02);
        --default-spacing: 10px;
        --round-icon-size: 34px;
    }

    .page-container {
        padding: calc(var(--default-spacing) * 2);
        gap: var(--default-spacing);
    }

    h1 {
        font-size: 3.2rem;
    }

    .mapboxgl-ctrl-top-right {
        margin: var(--default-spacing) var(--default-spacing) 0 0 !important;
        left: calc(35px + 2 * var(--default-spacing)) !important;
    }

    .mapboxgl-ctrl-geolocate {
        height: 35px !important;
        width: 35px !important;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mapboxgl-ctrl-geolocate {
        height: 45px !important;
        width: 45px !important;
    }

    .mapboxgl-ctrl-top-right {
        margin: var(--default-spacing) var(--default-spacing) 0 0 !important;
        left: calc(3 * var(--default-spacing) + 280px + 45px) !important;
    }
}

/* // Medium devices (tablets, 991px and up) */
@media (min-width: 991px) {
    :root {
        --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
            0 -1px 0px rgba(0, 0, 0, 0.02);
        --default-spacing: 14px;
        --round-icon-size: 45px;
    }
    h1 {
        font-size: 3.5rem;
    }

    .page-container {
        gap: 35px;
        padding-left: 7%;
        padding-right: 7%;
    }

    .mapboxgl-ctrl-top-right {
        left: calc(3 * var(--default-spacing) + 310px + 45px) !important;
    }
}
