.homepageContainer {
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas:
        'intro'
        'names'
        'mapLink';
    height: 100%;
    width: 100vw;
}

.intro {
    justify-self: center;
    align-self: end;
    grid-area: intro;
    margin-bottom: 30px;
    opacity: 0;
    animation: 1s var(--trans-ease) var(--trans-duration) slidedown;
    animation-fill-mode: forwards;
}

.names {
    grid-area: names;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: 0.01s var(--trans-ease) var(--trans-duration) fadein;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
    font-weight: 700;
}

.mapLink {
    height: 100%;
    width: 100%;
    align-self: top;
    grid-area: mapLink;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 2s var(--trans-ease) 2s fadein;
    animation-delay: 4.3s;
    animation-fill-mode: forwards;
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (min-width: 0px) {
    .homepageContainer {
        grid-template-rows: 30% 40% 30%;
    }

    .names {
        font-size: 7rem;
        line-height: 9rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .names {
        font-size: 10rem;
        line-height: 12rem;
    }
}

/* // Medium devices (tablets, 991px and up) */
@media (min-width: 991px) {
    .homepageContainer {
        grid-template-rows: 25% 35% 40%;
    }
}
