.addMarkerContainer {
    position: relative;
    align-self: flex-start;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    margin-left: var(--default-spacing);
    margin-top: var(--default-spacing);
    padding-left: var(--default-spacing);
    padding-right: var(--default-spacing);
    position: absolute;
    z-index: 4;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.addMarkerImage {
    position: relative;
}

.inputTypeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-top: solid 1px var(--light-grey);
    gap: var(--default-spacing);
    padding-top: var(--default-spacing);
    padding-bottom: var(--default-spacing);
    h6 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: var(--default-spacing);
        line-height: 20px;
        resize: none;
    }
    a {
        font-size: 1.6rem;
        letter-spacing: 0;
        text-decoration: underline;
        cursor: pointer;
    }
}

.localisationChoiceContainer {
    width: 100%;
    display: flex;
    gap: var(--default-spacing);
}

@media (min-width: 0px) {
    .addMarkerContainer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        margin-top: 0px;
        margin-left: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        gap: var(--default-spacing);
        padding-top: var(--default-spacing);
        padding-bottom: var(--default-spacing);
        box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
            0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }

    .buttonContainer {
        height: auto;
        gap: var(--default-spacing);
        flex-direction: column;
    }

    .addMarkerImage {
        height: 25px;
        order: -1;
        position: relative;
    }

    .inputTypeContainer {
        width: 100%;
        margin-top: var(--default-spacing);
    }

    .localisationChoiceContainer {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    .addMarkerContainer {
        position: absolute;
        bottom: unset;
        width: auto;
        width: 280px;
        gap: 0px;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        margin-top: var(--default-spacing);
        margin-left: var(--default-spacing);
        box-shadow: var(--box-shadow);
    }
    .addMarkerImage {
        order: 3;
    }
    .buttonContainer {
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .inputTypeContainer {
        padding-bottom: 0px;
        width: 100%;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .buttonContainer {
        gap: var(--default-spacing);
    }
    .localisationChoiceContainer {
        flex-direction: column;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .addMarkerContainer {
        width: 310px;
    }

    .buttonContainer {
        gap: 0px;
    }
}
