.userDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.userDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 170px;
}

.userDetailsContainer img {
    width: 300px;
    position: absolute;
}

.userDetailsContainer h6 {
    color: var(--black);
    overflow-wrap: anywhere;
    overflow: hidden;
    text-align: center;
}

.userDetailsContainer a {
    position: absolute;
    bottom: 0%;
}
